nav {
  h1 {
    color: #0d4625;
    font-size: 1.5rem;
  }
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    gap: 2rem;
    a {
      font-size: 1rem;
      color: #0d4625;
      font-weight: 900;
      text-decoration: none;
    }
    a:hover {
      color: #219653;
      text-decoration: underline;
    }
  }
}
